<%= paginate @flag_votes %>

<table class="table">
    <thead>
    <tr>
      <th>Record</th>
      <th>Flagged by</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flag_votes.each do |flag_vote| %>
      <% @flags = [flag_vote.flag] %>
      <tr>
        <td><%= render 'document', document: FlagVote.document(flag_vote.record_id) %></td>
        <td><%= flag_vote.user['name'] %> &lt;<%= flag_vote.user['email'] %>&gt; (User ID: <%= flag_vote.user['id'] %>)</td>
        <td><%= render 'flags/flag_vote_buttons', document: FlagVote.document(flag_vote.record_id), flag_vote: flag_vote %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= paginate @flag_votes %>