%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      Umbra Search Widget (Experimental)
  %div.panel-body
    Search Umbra Search from your own website by copying and pasting the below HTML code into your site.
    - search_form = render 'search_form_embed'
    = raw html_syntax_highlight(search_form)
    %h4
      Preview:
    %div.well
      = search_form
    %div
      Note: the above search icon (<em><span class="glyphicon glyphicon-search"></span></em>) will only appear if you are using a version of the <a href="http://getbootstrap.com/components/#glyphicons">Bootstrap</a> CSS library with the related glyphcon library.
    %br
    %h4
      Override The Submit Button Text
    Override the search submit button text by appending a submit_text option to the above url:
    = raw html_syntax_highlight("<script src=\"#{request.base_url}/widgets/search.js?submit_text=Submit\"  type=\"text/javascript\"></script>")
    You may remove the submit text altogether by setting it to an empty string:
    = raw html_syntax_highlight("<script src=\"#{request.base_url}/widgets/search.js?submit_text=\"  type=\"text/javascript\"></script>")
    %br
    %h4
      Set a Default Contributing Institution
    Show your site visitors what you have contributed to <em>Umbra Search</em> by setting a default contributing institution for your search widget.
    = raw html_syntax_highlight("<script src=\"#{request.base_url}/widgets/search.js?contributing_institution=Temple University Libraries\"  type=\"text/javascript\"></script>")