'<div id="widget-search-form">' +
  '<form id="umbra-search-form" class="form-inline" action="<%= request.base_url %>/catalog?utf8=✓&search_field=all_fields&q="  method="get">' +
  '  <table class="layout-table-ick">' +
  '  <tr><td id="logo-cell"><a href="<%= request.base_url %>"><img src="https://d3bqfbs46oeuvc.cloudfront.net/umbra-small.png" alt="Umbra: Search African Amercian History" title="Umbra: Search African Amercian History"></a>' +
  '  <div class="input-group">' +
  ' </td><td>' +
  '  <div class="form-group">' +
  '  <input name="q" id="q" placeholder="Search Umbra..." class="form-control search-text" type="text" value="">' +
  '  </div>' +
  '  </td><td>' +
  '  <span class="input-group-btn">' +
  '   <button type="submit" class="btn btn-primary search-btn" id="search" alt="<%= submit_text %>" title="<%= submit_text %>">' +
  '     <span class="submit-search-text"><%= submit_text %></span>' +
  '      <span class="glyphicon glyphicon-search"></span>' +
  '   </button>' +
  '  </span>' +
  '  </div>' +
  '  </tr></td>' +
  '</form>' +
'</div>';