%div.col-lg-9.col-md-8.col-sm-8.static-page-content
  %div.page-header
    %h2
      Embedable Widgets
  %div
    Use the embedable widgets below to help us spread the word about umbra and to add new functionality to your website or blog.
    %br
    %br
  %div.panel.panel-default
    %div.panel-heading
      %h3.panel-title
        Search Umbras
    %div.panel-body
      Search Umbra from your own website by copying and pasting the below HTML code into your site.
      - search_form = render 'search_form_embed'
      = raw html_syntax_highlight(search_form)
      %h4
        Preview
      = search_form
      %div
        Note: the above search icon (<em><span class="glyphicon glyphicon-search"></span></em>) will only appear if you are using a version of the <a href="http://getbootstrap.com/components/#glyphicons">Bootstrap</a> CSS library with the related glyphcon library.
      %br
      %h4
        Overriding Submit Button Text
      Override the search submit button text by appending a submit_text option to the above url:
      = raw html_syntax_highlight("#{request.base_url}/widgets/search.js?submit_text=Submit")
      You may remove the submit text altogether by setting it to an empty string:
      = raw html_syntax_highlight("#{request.base_url}/widgets/search.js?submit_text=")