<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: 98 %>
  </div><br />
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.select :weight, (-10..10), selected: @page.weight %>
  </div><br />  
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, cols: 100, rows: 10 %>
  </div><br />
  <div class="field">
    <%= f.label :link_title %><br>
    <%= f.text_field :link_title, size: 20  %>
  </div><br />
  <div class="field">
    <%= f.label :link_path %><br>
    <%= f.text_field :link_path %>
  </div><br />
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div><br />
<% end %>
