<div class="btn-group help btn-group-justified" role="group" aria-label="Help">
  <div class="btn-group" role="group">
    <%= link_to "About", path_for_page('about'), :class => 'btn btn-default btn-nav help-link', :method => 'get' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "How to Participate", path_for_page('participate'), :class => 'btn btn-default btn-nav help-link', :method => 'get' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "Contact Us", path_for_page('contact'), :class => 'btn btn-default btn-nav help-link', :method => 'get' %>
  </div>
   <div class="btn-group example-searches" role="group">
    <button type="button" class="btn btn-default btn-nav" data-toggle="dropdown" aria-expanded="false">
       Example Searches <span class="caret"></span>
     </button>
     <ul class="dropdown-menu browse-options" role="menu">
       <li>
          <%= link_to raw('<span class="glyphicon glyphicon-search"></span>') + raw(%Q( Try a <strong>phrase search</strong> for "jazz musicians")), %Q(/catalog?utf8=✓&search_field=all_fields&q="jazz musicians"&example-search=phrase-search) %>
       </li>
       <li>
          <%= link_to raw('<span class="glyphicon glyphicon-search"></span>') +raw(%Q( Try a <strong>keyword search</strong> for "jazz musicians")), %Q(/catalog?utf8=✓&q="jazz musicians"&example-search=phrase-search-keywords) %>
       </li>
       <li>
          <%= link_to raw('<span class="glyphicon glyphicon-search"></span>') + raw(' Try a search for jazz and learn how to <strong>refine</strong> results to sound recordings'), '/catalog?example-search=search-with-facet&f%5BsourceResource_type_ssi%5D%5B%5D=sound&q=jazz&search_field=all_fields'
           %>
       </li>
       <li>
          <%= link_to raw('<span class="glyphicon glyphicon-search"></span>') + raw(' (Advanced) Try an <strong>operator search</strong> for +"Selma" -"Selma Burke"'), '/catalog?q=%2B+"Selma"+-"selma burke"&search_field=all_fields&example-search=operator-search'
           %>
       </li>
     </ul>
   </div>
  </div>
</div>