<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'About <em>Umbra</em>'} do %>

    <p>In Umbra’s beta phase, we are working with a test collection—a sample of records from 25 content sources that represents the kinds of materials you will find in Umbra. We will be adding materials and partners throughout 2015. Umbra is scheduled to officially launch early 2016.</p>

    <h4>What is Umbra?</h4>

    <ul class="content-list">
      <li>The "<em>umbra</em>" is a complete or perfect shadow cast by the moon, a spectral vision, or the  central region of a sunspot.</li>

      <li><em>Umbra: Search African American History</em> is a freely available discovery tool, created for use by the public for the research and study of African American history and culture. It assembles a national collection of digital materials--images, videos, books, and more--for use by scholars, artists, parents, students, and educators. Materials displayed in <em>Umbra</em> are provided by libraries, museums, and other <a href="/catalog/facet/dataProvider_s?facet.sort=index&limit=100&q=&search_field=all_fields&facet_view=full">repositories around the country</a>.</li>

      <li><em>Umbra: Search African American History</em> seeks to inspire and activate new ideas, forms of scholarship and education, community projects, and works of art by creating access to the materials that document more than 500 years of African American history and cultural.</li>

      <li><em>Umbra: Search African American History</em> is a partnership between the University of Minnesota Libraries and Penumbra Theatre Company.</li>
    </ul>


    <h4>Umbra Founding Partners</h4>

    <ul>
      <li><a href="http://www.penumbratheatre.org">Penumbra Theatre Company</a></li>
      <li><a href="http://www.si.edu/">Smithsonian Institution</a></li>
      <li><a href="http://nmaahc.si.edu/">National Museum of African American History and Culture</a></li>
      <li><a href="http://dp.la/">Digital Public Library of America</a></li>
      <li><a href="http://www.loc.gov/">Library of Congress</a></li>
      <li><a href="http://www.amistadresearchcenter.org/">Amistad Research Center (Tulane University)</a></li>
      <li><a href="http://www.columbia.edu/">Columbia University</a></li>
      <li><a href="http://www.nypl.org/locations/schomburg">New York Public Library Schomburg Research Center for Black Culture, Library for the Performing Arts</a></li>
      <li><a href="http://americantheatrearchiveproject.org/">American Theatre Archive Project</a></li>
      <li><a href="http://www.tcg.org/">Theatre Communications Group</a></li>
      <li><a href="https://www.apollotheater.org/">Apollo Theater</a></li>
      <li><a href="http://www.tla-online.org/">Theatre Library Association</a></li>
    </ul>

    <h4>Funding</h4>


    <p>Generous support for <em>The African American Theater History Project</em> and <em>Umbra: Search African American History</em> comes from <a href="http://www.imls.gov">the Institute of Museum and Library Services</a>, the Doris Duke Charitable Foundation, the University of Minnesota Libraries, and Penumbra Theatre Company. </p>

    <p>Any views, findings, conclusions, or recommendations in this website do not necessarily represent those of the Institute of Museum and Library Services or the Doris Duke Charitable Foundation</a>.</p>

    <div class="about-logos">

      <div class="col-lg-6">
        <%= linked_image('https://lib.umn.edu', 'UML_ID_maroon_web_blockM.png', 'University of Minnesota Libraries', 'University of Minnesota Libraries') %>
        <%= linked_image('http://www.penumbratheatre.org', 'Penumbra_Logo__Black_on_White.jpg', 'Penumbra Theatre Company', 'Penumbra Theatre Company') %>
      </div>
      <div class="col-lg-6">
        <div class="imls"><%= linked_image('http://www.imls.gov', 'IMLS_Logo_2c.png', 'Institute of Museum and Library Servicesn', 'Institute of Museum and Library Services') %></div>
        <%= linked_image('http://www.ddcf.org', 'DD-logo-bottom.jpg', 'Doris Duke Charitable Foundation', 'Doris Duke Charitable Foundation') %>
      </div>
    </div>
  <% end %>