<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'About Umbra'} do %>

<p><a href="http://umbrasearch.org">UmbraSearch.org</a> is a freely available search tool that brings together the most extensive digital collection dedicated to African American history and culture from US archives, museums, and cultural heritage institutions. Whether you are a student, teacher, writer, journalist, artist, or just curious, this single tool helps you discover the depth and diversity of over 400 years of African American life—quickly and easily!</p>

<p>Currently, over 400,000 digital items are made available from over 500 institutions. But plan to visit often as more material is made available continuously from our current contributing partners and as new ones join the effort!</p>

<p><em>Umbra</em> is developed by the Givens Collection of African American Literature at the University of Minnesota in partnership with the Penumbra Theatre Company. It is made possible through generous support from the Institute of Museum and Library Services and the Doris Duke Charitable Foundation.*</p>

<p>You can follow us on Twitter <a href="http://twitter.com/umbrasearch">@UmbraSearch</a> and Tumblr at <a href="http://umbrasearch.tumblr.com/">umbrasearch.tumblr.com</a>.</p>

<p><em>*Any views, findings, conclusions, or recommendations in this website do not necessarily represent those of the Institute of Museum and Library Services or the Doris Duke Charitable Foundation.</em></p>

    <h4>Funding</h4>


    <p>Generous support for <em>The African American Theater History Project</em> and <em>Umbra: Search African American History</em> comes from <a href="http://www.imls.gov">the Institute of Museum and Library Services</a>, the Doris Duke Charitable Foundation, the University of Minnesota Libraries, and Penumbra Theatre Company. </p>

    <p>Any views, findings, conclusions, or recommendations in this website do not necessarily represent those of the Institute of Museum and Library Services or the Doris Duke Charitable Foundation</a>.</p>

    <div class="about-logos">

      <div class="col-lg-6">
        <%= linked_image('https://lib.umn.edu', 'UML_ID_maroon_web_blockM.png', 'University of Minnesota Libraries', 'University of Minnesota Libraries') %>
        <%= linked_image('http://www.penumbratheatre.org', 'Penumbra_Logo__Black_on_White.jpg', 'Penumbra Theatre Company', 'Penumbra Theatre Company') %>
      </div>
      <div class="col-lg-6">
        <div class="imls"><%= linked_image('http://www.imls.gov', 'IMLS_Logo_2c.png', 'Institute of Museum and Library Servicesn', 'Institute of Museum and Library Services') %></div>
        <%= linked_image('http://www.ddcf.org', 'DD-logo-bottom.jpg', 'Doris Duke Charitable Foundation', 'Doris Duke Charitable Foundation') %>
      </div>
    </div>
  <% end %>