<style media="screen">
  .home-panel {
    background-image: url(<%= @featured_image.uploaded_image.url if @featured_image %>);
  }
</style>

<div class="home-panel-skin"></div>
<div class="home-panel">
  <div class="hidden-xs">
    <div class="col-md-1 col-sm-1"></div>
    <div id="home-search" class="col-centered col-lg-5 col-md-6 col-sm-8">
      <div class="row">
        <div id="home-search-logo"></div>
        <div id="home-search-slogan"><h1>Search African <br /> American History</h1></div>
      </div>
      <%= render 'home_search_bar' %>
    </div>
  </div>
</div>

<div class="tagline"><span class="record-count"><%= record_count %></span> items from more than 1000 U.S. archives, libraries, and museums.</div>

<div class="col-sm-12">
  <div class="col-sm-1"></div>
  <div class="featured-image-title">
    <% if @featured_image %>
        <%= link_to raw(%Q(#{@featured_image.title} <span class="glyphicon glyphicon-eye-open"></span>)), solr_document_path(@featured_image.record_id.to_s) %>
    <% end %>
  </div>
</div>

<div id="featured">
  <%= render 'featured_contents/featured' %>
</div>