<style media="screen">
  .home-panel {
    background-image: url(<%= @featured_image.uploaded_image.url if @featured_image %>);
  }
</style>

<div class="home-panel">
  <div class="hidden-xs">
    <div class="col-md-1 col-sm-1"></div>
    <div id="home-search" class="col-lg-5 col-md-6 col-sm-8">
      <div class="row">
        <div class="col-md-4 col-sm-4" id="home-search-logo"></div>
        <div class="col-md-8 col-sm-8" id="home-search-slogan"><h1>Search</h1> <h1>African American</h1> <h1>History</h1></h1></div>
      </div>
      <%= render 'home_search_bar' %>
      <%= render 'home_search_help' %>
    </div>
  </div>
</div>

<div class="home-image-info col-sm-12">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <% if @featured_image %>
      Featured: <%= link_to @featured_image.title, solr_document_path(@featured_image.record_id.to_s), id:"featured" %>
      <%= link_to truncate(@featured_image.title, length:25), solr_document_path(@featured_image.record_id.to_s), id:"featured-truncated" %>
    <% end %>
  </div>
</div>