<style media="screen">
  .home-panel {
    background-image: url(<%= @featured_image.uploaded_image.url if @featured_image %>);
  }
</style>

<div class="home-panel">
  <div class="hidden-xs">
    <div class="col-md-1 col-sm-1"></div>
    <div id="home-search" class="col-lg-5 col-md-6 col-sm-8">
      <div class="row">
        <div class="col-md-4 col-sm-4" id="home-search-logo"></div>
        <div class="col-md-8 col-sm-8" id="home-search-slogan"><h1>Search <br />African American <br />History</h1></div>
      </div>
      <%= render 'home_search_bar' %>
      <div class="tagline"><span class="record-count"><%= record_count %></span> items items from U.S. archives, libraries, and museums.</div>
      <%= render 'home_search_help' %>
    </div>
  </div>
</div>

<div class="home-image-info col-sm-12">
  <div class="col-sm-1"></div>
  <div class="col-sm-11 text">
    <% if @featured_image %>
        Featured: <%= link_to @featured_image.title, solr_document_path(@featured_image.record_id.to_s), id:"featured" %>
    <% end %>
  </div>
</div>

<div id="featured">
  <h2>Featured Collections</h2>
  <div class="featured-widgets featured-boards">
    <% Array.wrap(@featured_boards).each do |featured_board| %>
      <%= render 'featured_boards/board', :board => featured_board %>
    <% end %>
  </div>
</div>