<% document_set(document) %>
<% if document_index_view_type == :list %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <%= raw "<span class=\"type-icon #{type_class(type)}\">#{type}</span>" %>
    </div>
  </div>
  <div class="panel-body row">
    <div class="thumbnail-col">
      <%= render 'thumbnail_default', :document => document, :document_counter => document_counter %>
    </div>
    <div class="metadata-col">
      <%= render 'list_results_metadata', :document => document, :document_counter => document_counter %>
    </div>
  </div>
  <div class="panel-body"><%= render 'flags/flag_vote_buttons', document: document %></div>
</div>
<% else %>
    <% # container for a single doc -%>
    <div class="document <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>">
      <%= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
    </div>
<% end %>