- document_presenter = presenter(document)
%div.list-results-metadata
  %span.document-counter
    =(document_counter + 1).to_s + "."
  %span.title
    = link_to document_presenter.display_title, document, document_link_params(document, :counter => document_counter_with_offset(document_counter))
  - if document_presenter.has_creator?
    %h2.h4.creator.metadata-field= document_presenter.creator
  - if document_presenter.has_keywords?
    %h4.metadata-field
      Keywords:
    %ol.list-unstyled.subjects.subjects-search-results
      = document_presenter.keywords.sort.join("; ")
  = render 'view_original', :document => document_presenter, :context => 'List Search'
  - if current_user && can?(:update, document_presenter.record) && document_presenter.has_editor_fields?
    %p
      %div.panel.panel-default
        %div.panel-heading
          %h3.panel-title
            Editor Fields
        %div.panel-body.editor-fields
          - if document_presenter.matches != ''
            %div
              %strong
                Matched Terms:
              = sanitize raw document_presenter.matches
