<%# default partial to display solr document fields in catalog show view -%>

<%
 # TODO: Move this stuff out of the view and refactor this view generally, it's messy
 img           = document.fetch('object_s', false).to_s
 thumb_url     = document.fetch('isShownAt_s', false)
 subjects      = document.fetch('subject_topic_facet', false)
 subjects      = document.fetch('subject_topic_facet', false)
 rights        = document.fetch('sourceResource_rights_s', false)
 data_provider = document.fetch('dataProvider_s', false)
 collection    = document.fetch('sourceResource_collection_title_s', false)
%>

<%- if img %>
  <div class="document-thumbnail show-thumbnail">
    <% if thumb_url %>
      <a  href="<%= thumb_url %>"><img src="<%= "#{img}" %>"></a>
      <div class="caption">
       <p> <a class="btn btn-primary" href="<%= thumb_url %>">Learn More <span class="glyphicon glyphicon-new-window"></span></a></p>
      </div>
    <% else %>
      <img src="<%= "#{img}" %>">
    <% end %>
  </div>
<%- end %>

<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
      <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %>&nbsp; </dt>
      <dd class="blacklight-<%= solr_fname.parameterize %>">
        <div class="blacklight-description blacklight-show-text-section">
          <%= render_document_show_field_value document, :field => solr_fname %>
        </div>
      </dd>
    <% end -%>
  <% end -%>
    <% if subjects %>
      <dt class="blacklight-is_shown_at">Subjects:&nbsp;</dt>
      <dd>
      <div class="blacklight-link-list">
        <ul>
          <% subjects.each do |subject| %>
            <li><%= link_to subject, "/?f%5Bsubject_topic_facet%5D%5B%5D=#{subject}&q=&search_field=all_fields" %></li>
          <% end %>
        </ul>
      </div>
      </dd>
    <% end %>

    <% if data_provider %>
      <dt class="blacklight-sourceResource_rights_s">Contributing Institution&nbsp; </dt>
      <dd class="blacklight-sourceResource_rights_s">
        <div class="blacklight-description blacklight-show-text-section">
          <%= link_to data_provider, "/?f%5BdataProvider_s%5D%5B%5D=#{data_provider}&q=&search_field=all_fields" %>
        </div>
      </dd>
    <% end %>

    <% if collection %>
      <dt class="blacklight-sourceResource_rights_s">From Collection&nbsp; </dt>
      <dd class="blacklight-sourceResource_rights_s">
        <div class="blacklight-description blacklight-show-text-section">
          <%= link_to collection, "/?f%5BsourceResource_collection_title_s%5D%5B%5D=#{collection}&q=&search_field=all_fields" %>
        </div>
      </dd>
    <% end %>

    <% if rights %>
      <dt class="blacklight-sourceResource_rights_s">Rights&nbsp; </dt>
      <dd class="blacklight-sourceResource_rights_s">
        <div class="blacklight-description blacklight-show-text-section">
          <%= rights %>
        </div>
      </dd>
    <% end %>

    <% if thumb_url %>
      <dt class="blacklight-is_shown_at">URL:&nbsp;</dt>
      <dd class="blacklight-is_shown_at"><a href="<%= thumb_url %>"><%= thumb_url %></a></dd>
    <% end %>

</dl>


  <small>Record ID: <%= document.id %></small>