-# See helpers/show_record_helper.rb
- document ||= @document
- set_page_title!

- content_for(:head) { render_link_rel_alternates }
- content_for(:secondary_navbar) {render partial:'show_nav'}

%div.metadata{"data-metadata" => document.to_json, "data-url" => request.original_url}

%section#metadata
  %div.container
    %div.row
      %div.col-xs-12.col-sm-6.col-md-6.col-lg-6.image-and-view-original
        %div.row.show-conent-top
          %h1.h3{style:'font-style:italic;'}= display_title
          %div.col-xs-12.col-sm-5
            - if  is_sound?
              .cover-image.gallery-glyphs.glyphs
                = link_to thumb_url, {target: '_blank'} do
                  %span.icon-headphones
            - else
              = link_to cached_thumbnail_tag(document, {}), thumb_url, {target: '_blank'}
          %div.col-xs-12.col-sm-7.view-original-col
            %a.btn.btn-default.btn-lg.btn-primary.btn-view-original.view-original-full-record{href:thumb_url, target: '_blank'}
              View Original
            %div.data-provider
              = raw view_original_provider_search
        %div.row
          %div.pin-it-large
            = render 'pin_it_large', :document => document, :pinterest_image => '//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png'
          %div.addthis_sharing_toolbox
            %a.addthis_button_twitter{"data-url" =>  catalog_url(document), "addthis:title" => display_title_short, class: "addthis-twitter"}

        %h2.h4{style:'color:#777777'}= render_document_show_field_value document, :field => 'sourceResource_creator_ssi'

        - if description
          %h3.h4 Description
          = description

        %div.row
        %div#technical-metadata
          - document_show_fields(document).each do |solr_fname, field|
            - if should_render_show_field? document, field
              %dt{class:"blacklight-#{solr_fname.parameterize}"}= render_document_show_field_label document, :field => solr_fname
              %dd{class:"blacklight-#{solr_fname.parameterize}"}
                %div
                  = render_document_show_field_value document, :field => solr_fname

        - if collection
          %h4 From Collection
          = collection

        - if data_provider
          %h4.data-provider Record Contributed By
          = render_facet_link('dataProvider_ssi', data_provider) 
        - if provider_name
          %h4.provider Record Harvested From
          = provider_name_facet_link

      %div.col-xs-12.col-sm-5.col-sm-offset-1{style:'border-left:1px solid #efefef;'}
        %div.row{style:'margin-top:20px;'}
          %div.col-sm-12
            - if subjects
              %h3.h4 Keywords
              %ol.list-unstyled.subjects
                - subjects.each do |subject_heading|
                  %li
                    %a.label.label-default{href:url_for(action:'index', "f[subject_ssim][]"=>subject_heading)}= subject_heading

            %h4 Related Content
            .related
              - document.more_like_this.each do |related_document|
                - if related_document.fetch('sourceResource_type_ssi', '') == 'sound'
                  .cover-image.thumbnail
                    = link_to related_document do
                      %span.icon-headphones
                - else
                  =link_to related_document do
                    -cached_thumbnail_tag(related_document, {:nopin => 'nopin', :title => related_document['title_ssi']})