-# See helpers/show_record_helper.rb
- document = @document
- set_page_title!

- content_for(:head) { render_link_rel_alternates }
- content_for(:secondary_navbar) {render 'share', :id => document.id}
- content_for(:secondary_navbar) {render partial:'show_nav'}

%section#metadata
  %div.container
    %div.row
      %div.col-xs-12.col-sm-6.col-md-6.col-lg-6
        %div.row
          %div.col-xs-3.col-sm-4.col-md-3.col-lg-3
            = thumbnail.html_safe

        / http://blacktheater.lib.umn.edu/catalog/e317664305effc523856d5abdc3c580e
        %h1.h3{style:'font-style:italic;'}= display_title
        %h2.h4{style:'color:#777777'}= render_document_show_field_value document, :field => 'sourceResource_creator_display'

        - if description
          %h3.h4 Description
          - content = render_document_show_field_value document, :field => 'sourceResource_description_txt'
          %meta{property:"og:description"}= content

        %div.row
        %a.btn.btn-default.btn-lg{href:thumb_url} View Original
        %div#technical-metadata
          - document_show_fields(document).each do |solr_fname, field|
            - if should_render_show_field? document, field
              %dt{class:"blacklight-#{solr_fname.parameterize}"}= render_document_show_field_label document, :field => solr_fname
              %dd{class:"blacklight-#{solr_fname.parameterize}"}
                %div
                  = render_document_show_field_value document, :field => solr_fname

        - if collection
          %h4 From Collection
          = collection

        - if data_provider
          %h4 Record Provided By
          = data_provider

        =# image_tag 'smithsonian.png', {class:'img-responsive', style:'max-height:40px;', alt:'Smithsonian Institution'}

      %div.col-xs-12.col-sm-5.col-sm-offset-1{style:'border-left:1px solid #efefef;'}
        %div.row{style:'margin-top:20px;'}
          %div.col-sm-12
            %h3.h4 Place / TODO
            %div#map

            - if subjects
              %h3.h4 Subjects 
              %ol.list-unstyled.subjects
                - subjects.each do |subject_heading|
                  %li
                    %a.label.label-default{href:url_for(action:'index', "f[subject_topic_facet][]"=>subject_heading)}= subject_heading

            %h4 Related Images in UMBRA
            TODO