-# See helpers/show_record_helper.rb
- document ||= @document
- set_page_title!

- content_for(:head) { render_link_rel_alternates }
- content_for(:secondary_navbar) {render 'share', :id => document.id}
- content_for(:secondary_navbar) {render partial:'show_nav'}

%section#metadata
  %div.container
    %div.row
      %div.col-xs-12.col-sm-6.col-md-6.col-lg-6
        %div.row
          %div.col-xs-3.col-sm-4.col-md-3.col-lg-3
            - if  is_sound?
              .cover-image.gallery-glyphs.glyphs
                = link_to thumb_url do
                  %span.icon-headphones
            - else
              = link_to cached_thumbnail_tag(document, {}), thumb_url

        %h1.h3{style:'font-style:italic;'}= display_title
        %a.btn.btn-default.btn-lg.btn-primary{href:thumb_url} View Original
        %h2.h4{style:'color:#777777'}= render_document_show_field_value document, :field => 'sourceResource_creator_ssi'

        - if description
          %h3.h4 Description
          - content = render_document_show_field_value document, :field => 'sourceResource_description_tesi'
          = content

        %div.row
        %div#technical-metadata
          - document_show_fields(document).each do |solr_fname, field|
            - if should_render_show_field? document, field
              %dt{class:"blacklight-#{solr_fname.parameterize}"}= render_document_show_field_label document, :field => solr_fname
              %dd{class:"blacklight-#{solr_fname.parameterize}"}
                %div
                  = render_document_show_field_value document, :field => solr_fname

        - if collection
          %h4 From Collection
          = collection

        - if data_provider
          %h4 Contributing Institution
          = data_provider

        =# image_tag 'smithsonian.png', {class:'img-responsive', style:'max-height:40px;', alt:'Smithsonian Institution'}

      %div.col-xs-12.col-sm-5.col-sm-offset-1{style:'border-left:1px solid #efefef;'}
        %div.row{style:'margin-top:20px;'}
          %div.col-sm-12
            - if subjects
              %h3.h4 Subjects
              %ol.list-unstyled.subjects
                - subjects.each do |subject_heading|
                  %li
                    %a.label.label-default{href:url_for(action:'index', "f[subject_ssim][]"=>subject_heading)}= subject_heading

            %h4 Related Content in <em>Umbra</em>
            .related
              - document.more_like_this.each do |related_document|
                - if related_document.fetch('sourceResource_type_ssi', '') == 'sound'
                  .cover-image.thumbnail
                    = link_to thumb_url do
                      %span.icon-headphones
                - else
                  =render_thumbnail_tag(related_document)