- cache('featured-contents', :expires_in => 1.hour) do
  %div#featured.col-sm-12.col-centered
    %div.featured-content-widgets
      %div.row
        %div.col-md-12
          %div.col-md-2
          %div#example-searches.col-md-8
            %h3
              Get Started
            %div.description
              Try some example searches to see what you can find in
              %em
                Umbra Search.
            %div.feature-boxes
              - example_searches_with_counts.each do |search|
                %a{href: search.url }
                  %div.feature-box{style: "background-image: url('#{asset_path(search.thumbnail)}');"}
                    %div.content
                      %div.title
                        = search.title
                      %div.item-count
                        = search.items_found
                      %div.glyphicon.glyphicon-new-window
                      %div.overlay
          %div.col-md-2
        %div.col-md-12#featured-contents
          %div.col-md-2
          %div.col-md-8
            %h3
              Discover and Share with #UmbraSearch
            %div.description
              Exploring African American stories through digital projects by students, artists, and archivists.
            %div.feature-boxes
              - published_featured.each do |featured_content|
                %a{href: featured_content.url, class: "#{featured_content_css_class(featured_content)}" }
                  %div.feature-box{style: "background-image: url('#{featured_content.preview_image.url}');"}
                    %div.content
                      %div.title
                        = featured_content.title
                      %div.glyphicon.glyphicon-new-window
                      %div.overlay
          %div.col-md-2