<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta property="og:site_name" content="Umbra: Search African American History" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <% if defined? @document %>
    <% document = presenter @document %>
    <meta property="og:title" content="<%= document.display_title %>" />
    <meta property="og:image" content="<%= document.img %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= document.description %>" />
    <meta name="twitter:title" content="<%= document.display_title_short %>" />
    <meta name="twitter:image" content="<%= document.img %>" />
    <meta name="twitter:url" content="<%= request.original_url %>" />
    <meta name="twitter:card" content="photo" />
  <% end %>
  <meta name="twitter:site" content="@umbrasearch" />
  <meta property="fb:app_id" content="304349596442657" />
  <meta name="p:domain_verify" content="6ef008f6a3f3593f7b00c4f123000974"/>
  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True" />


  <script type="text/javascript">
    var addthis_share = {}
    addthis_share = {
      passthrough: {
        twitter: {
          via: "umbrasearch"
        }
      },
      url_transforms : {
        shorten: {
          twitter: 'bitly'
        }
      },
        shorteners : {
        bitly : {}
      }
    }
  </script>
  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <!--[if IEMobile]>
  <meta http-equiv="cleartype" content="on">
  <![endif]-->

  <title><%= render_page_title %>: <%= tagline %></title>
  <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => 'xml', :only_path => false) %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="<%= render_body_class %>">

<div class="ribbon-block">
  <div class="ribbon">
    <%= link_to "BETA", path_for_page('participate') %></a>
  </div>
</div>

  <%= render partial: 'shared/header_navbar' %>
  <div id="main-content">
    <div class="navbar-secondary">
      <%= yield :secondary_navbar %>
    </div>
    <%= render partial: 'shared/ajax_modal' %>

    <div id="main-container" class="container-fluid">
      <%= yield %>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>
  <%= render :partial => 'shared/blocking_javascript' %>
</body>
</html>

